/* Global rules */
.topnav {
    margin: auto;
    background-color: black;
    overflow: auto;
    border-radius: 28px;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px
}

.topnav a.hover, .active {
    background-color: navy;
}
.topnav .icon {
    display: none;
}

/* Responsive rules - apply when screen width is less than 1200px */

@media screen and (max-width: 1199px) {

    .topnav a:not(:first-child){
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a {
        float: none;
        display: block
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.social-container {
    display: flex;
    justify-content: space-evenly
}


/* DESKTOP */
@media all and (min-width:1200px) {
    .topnav {
        width: 81%;
    }
}

/* PHONE */

@media all and (max-width:500px) {
    .topnav {
        width: 100%;
    }
}